<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>717467473090-o7am9q1r2v01kclj0rk4vnmcl98m4tc7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.717467473090-o7am9q1r2v01kclj0rk4vnmcl98m4tc7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>717467473090-jbfsdquvqp96frihuvl8gdbv5fmj5gpt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDH5DD8SRBkHoUokbqJkzJCTaZU1sfZ_zc</string>
	<key>GCM_SENDER_ID</key>
	<string>717467473090</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sdocter</string>
	<key>PROJECT_ID</key>
	<string>bacsivietnam</string>
	<key>STORAGE_BUCKET</key>
	<string>bacsivietnam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:717467473090:ios:0d9b446dd284d2c8c8575b</string>
</dict>
</plist>